# Assignment 1 Comp 521 Spring 2021

Answer each question below by filling in code at the point indicated.
Do not modify any of the other cells. 

You __must__ run the cells in order. It looks like you can come back later after restarting and pick up where you left off but that is not the case. When restarting you always have to start at the top of the notebook and run each cell in turn.

In [1]:
# fill in the information below
Author = 'srainer'
Collaborators = ['srainer']

In [2]:
# checker setup do NOT change this
import comp521
check, report = comp521.start('A1')

In [3]:
# setup, no need to change this
import sqlite3

For this assignment you have relations with these schemas

 ```sql
 create table Department (
     did integer primary key, 
     name text)

 create table Course (
     cid integer primary key,
     did integer,
     name text,
     num integer,
     creditHours integer,
     foreign key (did) references Department)
     
 create table Student (
     sid integer primary key,
     did integer,
     fname text,
     lname text,
     foreign key (did) references Department)

 create table Enrolled_in (
     eid integer primary key,
     sid integer,
     cid integer,
     foreign key (sid) references Student,
     foreign key (cid) references Course)
       
 ```



I will open the database for you below.

In [4]:
# do not change this
db = sqlite3.connect('CourseEnrollment.sqlite')
cursor = db.cursor()

For the next three questions write a SQL query that produces a result that is equivalent to the Relational Algebra expression. I will execute the SQL query for you.

## Question 1

Translate this Relational Algebra expression into SQL: $\pi_{name} \sigma_{num < 500} Course$

In [31]:
# write your SQL expression here
sql1 = 'SELECT DISTINCT name from Course WHERE num < 500;'


# checking code. Do NOT change this.
cursor.execute(sql1)
c1 = cursor.fetchall()
check('Q1', c1, points=5, sort=True)

Q1 appears correct

## Question 2

$\pi_{fname,lname}\sigma_{name='Files\ and\ Databases'}(Student\bowtie Enrolled\_In \bowtie Course)$

In [41]:
# Assign your result to c2
sql2 = 'SELECT DISTINCT S.fname, S.lname FROM Student S, Enrolled_In E, Course C INNER JOIN Student ON S.sid = E.sid AND E.cid = C.cid WHERE C.name = "Files and Databases"'

# checking
cursor.execute(sql2)
c2 = cursor.fetchall()
check('Q2', c2, points=5, sort=True)

Q2 appears correct

## Question 3
$ \pi_{fname,lname} \sigma_{name='ANTH'} (Student \bowtie Department) $

In [47]:
# assign to c3
sql3 = 'SELECT DISTINCT S.fname, S.lname FROM Student S, Department D INNER JOIN Student ON S.did = D.did WHERE D.name = "ANTH"'

# checking
cursor.execute(sql3)
c3 = cursor.fetchall()
check('Q3', c3, points=5, sort=True)

Q3 appears correct

## Question 4
$ \pi_{name} \sigma_{creditHours=3} Course $

In [49]:
# assign to sql4
sql4 = 'SELECT DISTINCT C.name FROM Course C WHERE C.creditHours = 3'

# checking
cursor.execute(sql4)
c4 = cursor.fetchall()
check('Q4', c4, points=5, sort=True)

Q4 appears correct

For these next questions, write a SQL query to fetch the requested information. From here on, I want you
to write the Python code as well as the query. The questions above provide an example of what you must type.

## Question 5
Find the names of all 4 credit hour courses.

In [57]:
# your code here
sql5 = 'SELECT name FROM Course WHERE creditHours > 3'
cursor.execute(sql5)
c5 = cursor.fetchall() # the result of fetch all goes in this variable
# print(c5)
check('Q5', c5, points=10, sort=True)

[('Software Engineering Laboratory',), ('Anthropology of the Body and the Subject',)]
Q5 appears correct

## Question 6
Find the first and last names of all students enrolled in COMP courses.

In [99]:
# your code here
sql6 = 'SELECT DISTINCT S.fname, S.lname FROM Student S, Department D, Course C, Enrolled_in E WHERE C.did = D.did AND D.name = "COMP" AND E.cid = C.cid AND E.sid = S.sid'
cursor.execute(sql6)
c6 = cursor.fetchall() # the result of fetch all goes in this variable
# print(c6)
check('Q6', c6, points=10, sort=True)

[('MARY', 'Smith'), ('PATRICIA', 'Johnson'), ('JAMES', 'Williams'), ('ROBERT', 'Jones'), ('MICHAEL', 'Brown'), ('LINDA', 'Miller'), ('DAVID', 'Moore')]
Q6 appears correct

## Question 7
Find the first and last names of all students enrolled in courses of at least 500 level.

In [101]:
# your code here
sql7 = 'SELECT DISTINCT s.fname, s.lname FROM Student S, Course C, Enrolled_in E WHERE S.sid = E.sid AND C.cid = E.cid AND C.num > 500'
cursor.execute(sql7)
c7 = cursor.fetchall() # the result of fetch all goes in this variable
# print(c7)
check('Q7', c7, points=10, sort=True)

[('MARY', 'Smith'), ('PATRICIA', 'Johnson'), ('JAMES', 'Williams'), ('ROBERT', 'Jones'), ('MICHAEL', 'Brown'), ('WILLIAM', 'Davis'), ('LINDA', 'Miller'), ('DAVID', 'Moore')]
Q7 appears correct

## Question 8
Find the first and last names of all students enrolled in 'Data Structures' and 'Anthropology of the Body and the Subject'.

In [270]:
# your code here
sql8 = ('''
SELECT DISTINCT s.fname, s.lname 
FROM Student S, Course C1, Enrolled_in E1,
                Course C2, Enrolled_in E2
WHERE S.sid = E1.sid AND E1.cid = C1.cid 
and S.sid = E2.sid AND E2.cid = C2.cid
AND (C1.name = "Anthropology of the Body and the Subject" AND C2.name = "Data Structures")
''')
cursor.execute(sql8)
c8 = cursor.fetchall() # the result of fetch all goes in this variable
# print(c8)
check('Q8', c8, points=15, sort=True)

[('MARY', 'Smith'), ('JAMES', 'Williams')]
Q8 appears correct

## Done!

Now get your report and submit your assignment. We will post submission instructions separately.

In [271]:
report(Author, Collaborators)

  Collaborators: ['srainer']
Report for srainer
  8 of 8 appear correct, 65 of 65 points